<!-- pills -->
<section class="vh-102 bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');">
  <div class="mask h-100 gradient-custom-3">

<ul class="nav nav-pills justify-content-evenly pt-4">
    <li class="nav-item">
      <a class="nav-link " routerLink="general" routerLinkActive="active">General Physician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pediatrician" routerLinkActive="active">Pediatrician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="orthopedic" routerLinkActive="active">Orthopedic</a>
    </li>
  
  </ul>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  </div>
</section>